extends layout

block content

  section#two
    .container
      h3 Things I Can Do
      p
        | Integer eu ante ornare amet commetus vestibulum blandit integer in curae ac faucibus integer non. Adipiscing cubilia elementum integer lorem ipsum dolor sit amet.
        ul.feature-icons
            li.fa.fa-code Write all the code
            li.fa.fa-cubes Solve a life size rubic'c cube
            li.fa.fa-book Read books and stuff
            li.fa.fa-coffee Drink much coffee
            li.fa.fa-bolt Lightning bolt
            li.fa.fa-users Shadow clone technique
