extends layout

block content


  h1 Hi, see my work

    section#first.main.special
    header.major
    h2 Magna veroeros

    ul.features
      li
        span.icon.major.style1.fa-code
        h3 Ipsum consequat
        p
          | Sed lorem amet ipsum dolor et amet nullam consequat a feugiat consequat tempus veroeros sed consequat.
      li
        span.icon.major.style3.fa-copy
        h3 Amed sed feugiat
        p
          | Sed lorem amet ipsum dolor et amet nullam consequat a feugiat consequat tempus veroeros sed consequat.
      li
        span.icon.major.style5.fa-diamond
        h3 Dolor nullam
        p
          | Sed lorem amet ipsum dolor et amet nullam consequat a feugiat consequat tempus veroeros sed consequat.
